
html,body,#app{
  width:100vw;
  height: 100vh;
  margin: 0;
  padding:0;
  overflow: hidden;
}

.com-page,.com-container,.com-chart{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas{
  border-radius: 20px;
}